<h1>Update Figures</h1>

<form action="/figures/<%=@figure.id%>" method="POST">

  <input id="hidden" type="hidden" name="_method" value="patch">

  <br></br>

  <label for="figure_name">Name:</label>

  <input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>">

  <br></br>

  <label>New Title:</label>

  <input type="text" name="title[name]" id="new_title" value="<%= @title.name %>"></input>

  <br></br>

  <label>Update Titles:</label><br>
    <% Title.all.each do |title| %>
    <%= title.name %>
    <input id="<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%checked if @figure.titles.include?(title)%>>
  <% end %>

  <br></br>

  <label>New Landmark:</label>

  <input type="text" name="landmark[name]" id="new_landmark" value="<%= @landmark.name %>">

  <br></br>

  <label>Edit Landmarks:</label><br>
    <% Landmark.all.each do |landmark| %>
      <%= landmark.name %>
      <input id="<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%checked if @figure.landmarks.include?(landmark)%>>
    <% end %>

  <input type="submit" value="Edit Figure">

</form>
